<main>
    <h1>User {{data._id}}: {{data.firstName}} {{data.lastName}}</h1>
    <ul>
        <li>username: {{data.username}}</li>
        <li>Fist Name: {{data.firstName}}</li>
        <li>Last Name: {{data.lastName}}</li>
        <li>Profession: {{data.profession}}</li>
        <li>Bio: {{data.bio}}</li>
    </ul>
</main>